<div class="banner_big">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "Get started now!", root_path, class: "button_big" %>
  </div>
</div>

<%# user experiences %>
<%= render 'ux_card' %>

<div class="banner_middle">
  <h1>Now shut up and create a list</h1>
  <%= link_to "create list", new_list_path, class: "button_big" %>
</div>

<h2>JUST REVIEWED...</h2>
<ul class="just-reviewd list-inline">
  <% @movies.take(10).each do |movie| %>
    <li>
      <a href="<%= movie_path(movie) %>">
        <%= image_tag movie.poster_url, class: "poster_small" %>
      </a>
    </li>
  <% end %>
</ul>

<h2>POPULAR REVIEWS THIS WEEK... </h2>
