<div class="banner_big full-width">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "Get started now!", root_path, class: "button_big" %>
  </div>
</div>

<%# user experiences %>
<%= render 'ux_card' %>

<div class="banner_middle">
  <h1>Now shut up and create a list</h1>
  <%= link_to "create list", new_list_path, class: "button_big" %>
</div>

<h2>POPULAR MOVIES...</h2>
<ul class="just-reviewd list-inline">
  <% @movies.take(8).each do |movie| %>
    <li>
      <a href="<%= movie_path(movie) %>">
        <%= image_tag movie.poster_url, class: "poster_small" %>
      </a>
    </li>
  <% end %>
</ul>

<div class="row">

  <div class="col-8">
    <h2>JUST REVIEWED... </h2>
    <ul class="list-none">
      <% @movie_reviews.take(8).each do |review| %>
        <li>
          <a href="<%= movie_path(review.movie) %>">
            <%= image_tag review.movie.poster_url, class: "poster_small" %>
          </a>
          <h2><%= review.movie.title %></h2>
          <h4>@<%= review.user.username %> / rating:<%= review.rating %></h4>
          <p><%= review.comment %></p>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-4">
    <h2>POPULAR LISTS THIS WEEK...</h2>
    <% @popular_lists.take(8).each do |list| %>
      <div class="list-card_small">
        <h1><%= link_to list.name, list_path(list) %></h1>
        <p>@<%= list.user.username %> <%= list.list_likes.count %> like <%= list.list_comments.count %>comments</p>
      </div>
    <% end %>
  </div>

</div>



