<div class="lists">
  <div class="banner_middle">
    <h1>CREATE YOUR OWN WATCH:LIST</h1>
    <%= link_to "CREATE LIST", new_list_path, class: "button_big" %>
  </div>
</div>

<h1>POPULAR THIS WEEK...</h1>
<% @lists.each do |list| %>
  <div class="list-card_middle">
    <h1><%= link_to list.name, list_path(list) %></h1>
    <h4>username <%= list.like %>like 00comments</h4>
  </div>
<% end %>

<h1>RECENTLY LIKED...</h1>
<% @lists.each do |list| %>
  <div class="list-card_wide">
    <h4><%= link_to list.name, list_path(list) %></h4>
    <p>username <%= list.like %>like 00comments</p>
    <p><%= list.description %></p>
  </div>
<% end %>