<div class="list-banner">
  <% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key, height: 400, width: 400, crop: :fill %>
  <% else %>
    <%= image_tag "list.jpg" %>
  <% end %>
  
</div>

<%= link_to "add a moive", new_list_bookmark_path(@list,@bookmark)%>

<div class="list-info">
  <p>LIST BY USERNAME</p>
  <h1><%= @list.name %></h1>
  <p>
    <%= link_to "edit", edit_list_path(@list) %> / 
    <%= link_to "delete", 
        list_path,
        method: :delete,
        data: { confirm: "are you sure?" }
    %>
  </p>
  <h3><%= @list.description %></h3>
</div>

<div class="list-info-card">
  <p>1000 MOVIES</p>
  <p><%= @list.list_likes.count %> LIKES</p>
  <p>SHARE</p>
</div>

<h1>LIKE BUTTON</h1>
<% if user_signed_in? %>
 <% if @list.liked?(current_user) %>
  <%= button_to "like", like_path(@list), method: :put, disabled: true %>
 <% else %>
  <%= button_to "like", like_path(@list), method: :put %>
 <% end %>
<% end %>


<div class="bookmarks">
  <ul class="list-inline">
    <% @list.bookmarks.each do |bookmark|  %>
      <li>
        <a href="<%= movie_path(bookmark.movie) %>">
          <%= image_tag bookmark.movie.poster_url, class: "poster_small" %>
        </a>
        <p><%= bookmark.rating %> / 10</p>
        <p>
          <%= link_to "edit", edit_list_bookmark_path(@list, bookmark)%>
          <%= link_to "delete", 
              list_bookmark_path(@list, bookmark),
              method: :delete,
              data: { confirm: "are you sure?" }
          %>
        </p>
        <p><%= bookmark.comment %></p>
      </li>
    <% end %>  
  </ul>
</div>

<div class="list_comments">
  <% @list.list_comments.each do |comment| %>
    <p>
      COMMENT BY USERNAME
      <%= link_to "edit", edit_list_list_comment_path(@list, comment) %>
      <%= link_to "delete", list_list_comment_path(@list, comment), method: :delete, data: { confirm: "are you sure?" } %>
    </p>
    <p><%= comment.comment %></p>
  <% end %>
  
  <div class="list_comment_form">
    <%= render 'list_comments/form', list: @list, list_comment: @list_comment %>
  </div>
</div>