<%= image_tag @movie.poster_url %>
<h1><%= @movie.title %></h1>
<h4>rating: <%= @movie.rating %> / like: <%= @movie.movie_likes.count %></h4>
<% if user_signed_in? %>
  <% if @movie.liked?(current_user) %>
    <%= button_to "like", movie_like_path(@movie), method: :put, disabled: true %>
  <% else %>
    <%= button_to "like", movie_like_path(@movie), method: :put %>
  <% end %>
<% end %>
<p><%= @movie.overview %></p>

<% @movie.movie_reviews.each do |review| %>
  <h4>username / rating: <%= review.rating %></h4>
  <h4>
    <%= link_to "edit", edit_movie_movie_review_path(@movie, review) %>
    / <%= link_to "delete", 
          movie_movie_review_path(@movie, review),
          method: :delete,
          data: { confirm: "are you sure?" }
      %>
  </h4>
  <p><%= review.comment %></p>
<% end %>

<%= render 'movie_reviews/form', movie: @movie, movie_review: @movie_review %>
