<div class="navbar navbar-expand-sm navbar-light navbar-watchlist">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3>WATCH:LIST</h3>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "MOVIES", movies_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "LISTS", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
            <% else %>
              <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", myprofile_path, class: "dropdown-item" %>
              <%= link_to "Lists", '#', class: "dropdown-item" %>
              <%= link_to "Movies", '#', class: "dropdown-item" %>
              <%= link_to "Reviews", '#', class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "CREATE ACCOUNT", new_user_registration_path, class: "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to "SIGN IN", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
